<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include('../secciones/head'); %>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div>
            <div class="container">
                <%- include('../secciones/menu'); %>
                
                <div class="row mt-5">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <a class="btn btn-primary mb-3" href="/insertarEmpleado">Nuevo Empleado</a>
                        <div class="card">
                            <div class="card-header bg-info">
                                <h1>Listado de Personal</h1>
                            </div>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped table-dark">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Ocupacion</th>
                                        <th>Telefono</th>
                                        <th>Direccion</th>
                                        <th>Sueldo</th>
                                        <th>Editar</th>
                                        <th>Eliminar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <%
                                    empleado.forEach((empleado) => {
                                    %>
                                    <tr class="align-middle">
                                        <td><%= empleado.id %></td>
                                        <td><%= empleado.nombre %></td>
                                        <td><%= empleado.ocupacion %></td>
                                        <td><%= empleado.telefono %></td>
                                        <td><%= empleado.direccion %></td>
                                        <td>$<%= empleado.sueldo %></td>
                                        <td>
                                            <a href="/buscarEmpleado/<%= empleado.id %>">
                                                <button type="button" class="btn btn-warning btn-sm">
                                                    Editar
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="/eliminarEmpleado/<%= empleado.id %>">
                                                <button type="button" class="btn btn-danger btn-sm">
                                                    Eliminar
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    <%
                                        });
                                    %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
        
        </main>
        <footer class="footer mt-auto py-3 bg-light">
            <%- include('../secciones/footer'); %>
        </footer>
    </body>
</html>